.topRight{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.button{
    flex: 3;
}